python-3.10.12
Flask==3.1.0
flask-cors==6.0.1
flask-ngrok==0.0.25
gunicorn==23.0.0

tensorflow-cpu==2.10.0
keras==2.10.0
keras-core==0.1.7
keras-cv==0.9.0
Keras-Preprocessing==1.1.2

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
joblib==1.4.2

opencv-python-headless==4.11.0.86
matplotlib==3.10.1
seaborn==0.13.2
plotly==6.0.1

fpdf2==2.8.4
requests==2.32.3

catboost==1.2.7
lightgbm==4.6.0
xgboost==3.0.0
shap==0.47.0
imbalanced-learn==0.13.0
umap-learn==0.5.7

# TF extras
tensorboard==2.10.1
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.8
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1

# Utility / parsing
regex==2024.11.6
tqdm==4.67.1
pyarrow==19.0.1
pillow==11.1.0
protobuf==3.20.3

