Flask==3.1.0
flask-cors==6.0.1
flask-ngrok==0.0.25
gunicorn==23.0.0

tensorflow-cpu==2.10.0
keras==2.10.0
opencv-python-headless==4.11.0.86
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.4.2
xgboost==3.0.0
lightgbm==4.6.0
catboost==1.2.7
matplotlib==3.10.1
seaborn==0.13.2
shap==0.47.0

fpdf2==2.8.4
requests==2.32.3
